<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.inventory.mapper.InventoryToolsMapper">
    
    <resultMap type="InventoryTools" id="InventoryToolsResult">
        <result property="toolsId"    column="tools_id"    />
        <result property="toolsName"    column="tools_name"    />
        <result property="toolsDescription"    column="tools_description"    />
        <result property="supplier"    column="supplier"    />
        <result property="origin"    column="origin"    />
        <result property="purchasePrice"    column="purchase_price"    />
        <result property="sellingPrice"    column="selling_price"    />
        <result property="quantity"    column="quantity"    />
        <result property="unit"    column="unit"    />
        <result property="manufactureDate"    column="manufacture_date"    />
        <result property="shelfLife"    column="shelf_life"    />
        <result property="expirationDate"    column="expiration_date"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>


    <resultMap type="InventoryOffsetting" id="offsettingUpdateInventoryToolsResult">
        <result property="itemId"    column="item_id"    />

        <result property="quantity"    column="quantity"    />
    </resultMap>



    <sql id="selectInventoryToolsVo">
        select tools_id, tools_name, tools_description, supplier, origin,  selling_price, quantity, unit,  created_at, updated_at from tt_inventory_tools
    </sql>

    <select id="selectInventoryToolsList" parameterType="InventoryTools" resultMap="InventoryToolsResult">
        <include refid="selectInventoryToolsVo"/>
        <where>  
            <if test="toolsName != null  and toolsName != ''"> and tools_name like concat('%', #{toolsName}, '%')</if>
            <if test="supplier != null  and supplier != ''"> and supplier = #{supplier}</if>
            <if test="expirationDate != null "> and expiration_date = #{expirationDate}</if>
        </where>
    </select>
    
    <select id="selectInventoryToolsByToolsId" parameterType="Long" resultMap="InventoryToolsResult">
        <include refid="selectInventoryToolsVo"/>
        where tools_id = #{toolsId}
    </select>

    <insert id="insertInventoryTools" parameterType="InventoryTools" useGeneratedKeys="true" keyProperty="toolsId">
        insert into tt_inventory_tools
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="toolsName != null and toolsName != ''">tools_name,</if>
            <if test="toolsDescription != null">tools_description,</if>
            <if test="supplier != null">supplier,</if>
            <if test="origin != null">origin,</if>
            <if test="purchasePrice != null">purchase_price,</if>
            <if test="sellingPrice != null">selling_price,</if>
            <if test="quantity != null">quantity,</if>
            <if test="unit != null">unit,</if>
            <if test="manufactureDate != null">manufacture_date,</if>
            <if test="shelfLife != null">shelf_life,</if>
            <if test="expirationDate != null">expiration_date,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="toolsName != null and toolsName != ''">#{toolsName},</if>
            <if test="toolsDescription != null">#{toolsDescription},</if>
            <if test="supplier != null">#{supplier},</if>
            <if test="origin != null">#{origin},</if>
            <if test="purchasePrice != null">#{purchasePrice},</if>
            <if test="sellingPrice != null">#{sellingPrice},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="unit != null">#{unit},</if>
            <if test="manufactureDate != null">#{manufactureDate},</if>
            <if test="shelfLife != null">#{shelfLife},</if>
            <if test="expirationDate != null">#{expirationDate},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateInventoryTools" parameterType="InventoryTools">
        update tt_inventory_tools
        <trim prefix="SET" suffixOverrides=",">
            <if test="toolsName != null and toolsName != ''">tools_name = #{toolsName},</if>
            <if test="toolsDescription != null">tools_description = #{toolsDescription},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
            <if test="origin != null">origin = #{origin},</if>
            <if test="purchasePrice != null">purchase_price = #{purchasePrice},</if>
            <if test="sellingPrice != null">selling_price = #{sellingPrice},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="manufactureDate != null">manufacture_date = #{manufactureDate},</if>
            <if test="shelfLife != null">shelf_life = #{shelfLife},</if>
            <if test="expirationDate != null">expiration_date = #{expirationDate},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where tools_id = #{toolsId}
    </update>


    <update id="offsettingUpdateInventoryToolsResult" parameterType="InventoryTools">
        update tt_inventory_tools
        <trim prefix="SET" suffixOverrides=",">
            <if test="quantity != null">quantity = quantity - #{quantity},</if>
        </trim>
        where tools_id = #{itemId}
    </update>

    <update id="inboundUpdateToolsUpdateInventoryToolsResult" parameterType="InventoryTools">
        update tt_inventory_tools
        <trim prefix="SET" suffixOverrides=",">

            <if test="quantity != null">quantity = quantity + #{quantity},</if>
        </trim>
        where tools_id = #{itemId}
    </update>

    <update id="outboundUpdateToolsUpdateInventoryToolsResult" parameterType="InventoryTools">
        update tt_inventory_tools
        <trim prefix="SET" suffixOverrides=",">

            <if test="quantity != null">quantity = quantity - #{quantity},</if>
        </trim>
        where tools_id = #{itemId}
    </update>





    <delete id="deleteInventoryToolsByToolsId" parameterType="Long">
        delete from tt_inventory_tools where tools_id = #{toolsId}
    </delete>

    <delete id="deleteInventoryToolsByToolsIds" parameterType="String">
        delete from tt_inventory_tools where tools_id in 
        <foreach item="toolsId" collection="array" open="(" separator="," close=")">
            #{toolsId}
        </foreach>
    </delete>
</mapper>