<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bill.mapper.BillingRecordsMapper">
    
    <resultMap type="BillingRecords" id="BillingRecordsResult">
        <result property="billingId"    column="billing_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="appointmentId"    column="appointment_id"    />
        <result property="amount"    column="amount"    />
        <result property="paymentMethod"    column="payment_method"    />
        <result property="paymentStatus"    column="payment_status"    />
        <result property="paymentTime"    column="payment_time"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectBillingRecordsVo">
        select billing_id, patient_id,  amount, payment_method, payment_status, payment_time, created_at, updated_at from tt_billing_records
    </sql>

    <select id="selectBillingRecordsList" parameterType="BillingRecords" resultMap="BillingRecordsResult">
        <include refid="selectBillingRecordsVo"/>
        <where>  
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="paymentMethod != null  and paymentMethod != ''"> and payment_method = #{paymentMethod}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and payment_status = #{paymentStatus}</if>
        </where>
    </select>
    
    <select id="selectBillingRecordsByBillingId" parameterType="Long" resultMap="BillingRecordsResult">
        <include refid="selectBillingRecordsVo"/>
        where billing_id = #{billingId}
    </select>

    <insert id="insertBillingRecords" parameterType="BillingRecords" useGeneratedKeys="true" keyProperty="billingId">
        insert into tt_billing_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="appointmentId != null">appointment_id,</if>
            <if test="amount != null">amount,</if>
            <if test="paymentMethod != null and paymentMethod != ''">payment_method,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="paymentTime != null">payment_time,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="appointmentId != null">#{appointmentId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="paymentMethod != null and paymentMethod != ''">#{paymentMethod},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateBillingRecords" parameterType="BillingRecords">
        update tt_billing_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="appointmentId != null">appointment_id = #{appointmentId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="paymentMethod != null and paymentMethod != ''">payment_method = #{paymentMethod},</if>
            <if test="paymentStatus != null">payment_status = #{paymentStatus},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where billing_id = #{billingId}
    </update>

    <delete id="deleteBillingRecordsByBillingId" parameterType="Long">
        delete from tt_billing_records where billing_id = #{billingId}
    </delete>

    <delete id="deleteBillingRecordsByBillingIds" parameterType="String">
        delete from tt_billing_records where billing_id in 
        <foreach item="billingId" collection="array" open="(" separator="," close=")">
            #{billingId}
        </foreach>
    </delete>
</mapper>